.dark .nav__burger--parent.open .nav__item
{
    color: var(--main-bg);
}

.dark .nav__burger--parent.open .nav__item--index
{
    color: var(--main-accent);
}

.dark .nav__burger--parent.open .nav__burger--line
{
    background-color: var(--main-bg);
}

.dark .nav__logo
{
    filter: invert(1);
}