.form .btn p
{
    line-height: 1.5 !important;
}

form label
{
    pointer-events: none;
}

[blue-page]
{
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .w-input, .w-select
    {
        color: var(--main-color) !important;
    }

    .form__item--border.white
    {
        background: #fff !important;
    }
}