.hero
{
    overflow: hidden;
}

@media screen and (max-width: 991px) 
{   
    .hero__body
    {
        min-height: 100svh;
    }

    .borders__right,
    .borders__left
    {
        height: 100dvh;
    }
}