body.loading main
{
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100vw;
}

.nav__logo
{
    opacity: 0;
}

@media screen and (max-width: 480px) 
{
    .loader__row:nth-child(5),
    .loader__row:nth-child(4),
    .loader__row .loader__logo:nth-child(2n + 1)
    {
        display: none;
    }
}