.popup-visible
{
    overflow: hidden;
}

[blue-page]
{
    .popup
    {
        --blue: #2400FF;
        --text: #1C1C1C;
        --accent: #CAC9FF;
    
        --main-accent: var(--blue) !important; 
        --main-color: var(--text) !important;
        --main-bg: var(--accent) !important;

        color:  var(--main-color);

        & .popup__body
        {
            background-color: var(--main-bg);
        }

        & .popup__close
        {
            color: var(--main-color);
        }
    }
}

.popup
{
    --main-bg: #ef340d !important;  
    --main-color: #1c1c1c !important;  
    --main-accent: #dad3ca !important;  

    display: block;
    pointer-events: none;
    opacity: 0;
    transition: opacity $transition-dur;
    color: var(--main-color);

    min-height: 100dvh;
    overflow: scroll;

    & .popup__body
    {
        height: auto;
        min-height: calc(100vh - 2.4vw);
    }

    & .btn
    {
        clip-path: circle(50.0% at 50% 50%);
        color: var(--main-accent);
        background-color: var(--main-color);
    }

    & .btn__overlay
    {
        background-color: var(--main-accent);
        color: var(--main-color);
    }
    
    & .f--32 div
    {
        -webkit-text-fill-color: var(--main-color) !important;
    }

    & .is--label 
    {
        color: var(--main-color) !important;
    }
}

.popup-visible .popup
{
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 991px) 
{
    .popup
    {
        min-height: 100dvh;
        height: 100%;
        overflow: scroll;
    }

    .popup__body
    {
        height: auto;
    }
    
}

