.projects__border.is--right
{
    height: calc(100% - 2.5rem);
}

.projects__arrow
{
    transition: background-color $transition-dur, color $transition-dur;

    &:hover
    {
        background-color: var(--main-color);

        & path
        {
            fill: var(--main-bg);
        }
    }
}

@media screen and (min-width: 480px) 
{
    .projects__left 
    {
        position: relative;
    }
}