:root
{
    --main-bg: #ef340d;
    --main-color: #1c1c1c;
    --main-accent: #dad3ca;
    --transition-dur: 0.4s cubic-bezier(0.33, 1, 0.68, 1)
}

:root.dark
{
    --main-bg: #1c1c1c;  
    --main-color: #dad3ca;  
    --main-accent: #ef340d;  
}

:root.light
{
    --main-bg: #dad3ca;  
    --main-color: #1c1c1c;  
    --main-accent: #ef340d;  
}

:root.red
{
    --main-bg: #ef340d;  
    --main-color: #1c1c1c;  
    --main-accent: #dad3ca;  
}