$transition-dur: 0.4s cubic-bezier(0.33, 1, 0.68, 1);

:root
{
    --main-bg: #ef340d;
    --main-color: #1c1c1c;
    --main-accent: #dad3ca;
    --border-color: rgba(218, 211, 202, 0.35)
}

.dark:root
{
    --main-bg: #1c1c1c;  
    --main-color: #dad3ca;  
    --main-accent: #ef340d;  
    --border-color: rgba(239, 52, 13, 0.35)
}

.light:root
{
    --main-bg: #dad3ca;  
    --main-color: #1c1c1c;  
    --main-accent: #ef340d;  
    --border-color: rgba(239, 52, 13, 0.35)
}

.red:root
{
    --main-bg: #ef340d;  
    --main-color: #1c1c1c;  
    --main-accent: #dad3ca;  
}