.swiper-slide
{
    width: clamp(320px, 10%, 320px) !important;
    height: 26.875rem !important;
    // overflow: hidden;
}

.swiper-slide.is--large
{
    width: clamp(570px, 40%, 570px) !important
}

@media screen and (max-width: 480px) 
{
    .swiper-slide
    {
        width: 100% !important;
        height: 53.33em !important;
    }

    .swiper-slide.is--large
    {
        width: 100% !important;
    }
}