.nav__body.open 
{
    & .nav__bg,
    & .nav__right
   {
       clip-path: circle(140% at 100% 0);
   }

   & .nav__cta.is--inside-list
   {
       opacity: 1;
       transform: translateY(0%);
   }

   & .nav__item
   {
       opacity: 1;
       color: var(--main-bg);
       transform: translateY(0%);
   }

    & .nav__item--index
    {
        color: var(--main-accent);
    }

    & .nav__right
    {
        pointer-events: auto;
    }

    & .nav__burger--line
    {
        background-color: var(--main-bg);
    }

    & .nav__srroll--cta
    {
        opacity: 0;
        pointer-events: none;
    }
}

@media screen and (max-width: 991px) 
{
    .nav__body.open 
    {
        & .nav__logo
        {
            filter: invert(0);
            z-index: 2;

            & path
            {
                fill: var(--main-bg);
            } 

            & .logo-char
            {
                transform: translateX(0);
                opacity: 1;
            }

            & .nav__logo--copyright
            {
                transform: translateX(0em) !important; 
                transition-delay: 0s !important;
            }
        }

        & .nav__burger--line
        {
            background-color: var(--main-bg);
        }

        & .nav__bg,
        & .nav__right
        {
            clip-path: circle(150% at 100% 0);
        }
    }  
}