.nav__bg,
.nav__right
{
    display: block;
    clip-path: circle(0% at 100% 0);
    transition: clip-path 0.8s cubic-bezier(0.33, 1, 0.68, 1), background-colot var(--transition-dur);
}

.nav__item,
.nav__cta.is--inside-list
{
    opacity: 0;
    transform: translateY(50%);
    color: var(--main-color);
    transition: opacity var(--transition-dur), transform var(--transition-dur), color var(--transition-dur);
}

.nav__item--index
{
    color: var(--main-accent);
    transition: color var(--transition-dur);
}

.nav__cta.is--inside-list
{
    color: var(--main-accent);
}

.nav__list
{
    transition: padding-top 1.2s ease;
}

.nav__burger
{
    transition: opacity var(--transition-dur), visability var(--transition-dur);
}

.nav__right
{
    pointer-events: none;
}

.nav__logo .nav__logo--right .logo-char
{
    transform: translateX(-10px);
    opacity: 0;
    transition: transform var(--transition-dur), opacity var(--transition-dur);
}

.nav__logo .nav__logo--right .nav__logo--copyright
{
    transform: translateX(-51.5%);
    transition: transform var(--transition-dur);
    transition-delay: 0.3s;
}

.nav__logo, .nav__burger
{
    pointer-events: auto;
}